<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>房源详情</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/template.css">
		<link rel="stylesheet" type="text/css" href="css/media.css">

		<script type="text/javascript" src='js/jquery-2.1.4.min.js'></script>
		<script type="text/javascript" src='js/bootstrap.min.js'></script>

	</head>

	<body>
		<div>
			<nav class="navbar navbar-default-g navbar-top-50">
				<div class="navbar-center-g navbar-container">

					<div class="menu-container page-scroll">
						<button type="button" class="navbar-toggle navbar-bg-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">	<span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                    </button>
						<a class="navbar-brand navbar-fontsize navbar-logo navbar-color" href="#body">
							logo
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="navbar-collapse navbar-ex1-collapse collapse navbar-collapse-g" aria-expanded="false">
						<div class="menu-container">
							<ul class="nav navbar-nav navbar-mglft menu-navbar">
								<li class="page-scroll page-scroll-mgrt">
									<a href="#benefits" class="navbar-color">首页</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#solutions" class="navbar-color">房屋描述</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#connectors" class="navbar-color">房屋详情</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#pricing" class="navbar-color">房源照片</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#howitworks" class="navbar-color">户型图</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#customers" class="navbar-color">视频看房</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#faqsec" class="navbar-color">实景看房</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="/docs" target="_blank" class="navbar-color">地理位置</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#contact" class="navbar-color">联系经纪</a>
								</li>
								<li class="page-scroll">
									<a href="#contact" class="navbar-color">PDF</a>
								</li>

							</ul>
						</div>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>
			<!-- 内容第一部分开始 -->
			<section id="howitworks">
				<div class="container-fluid with-bg-2">
					<p class="h2">301 508 WATERS EDGE CRESCENT</p>
					<p class="h5" >WESTEVAN 加拿大</p> 
					<p class="h3">$2.280.000</p>
				</div>
				<div class="container-fluid" style="background-color: yellow;">
					<ul id="myTab" class="nav nav-tabs nav-justified" style="padding-top: 30px;">
						<li class="active">
							<a href="#house-desc" data-toggle="tab">房源描述</a>
						</li>
						<li>
							<a href="#house-detail" data-toggle="tab">房源详情</a>
						</li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active text-center" id="house-desc" style="padding-top: 20px;">
							<p class="h4">房源描述</p>
							<p>项目位于，大兴南部发展核心圈改善精品住宅，属于黄村板块。项目优势 ：1交通便利，项目距离京开高速入口250米距离，距离4号线清源路地铁站1.5公里，无论是自驾还是地铁出行，都非常方便。2医疗方便，项目西侧1公里左右，有北京市仁和医院和大兴区中医医院，东侧700米有大兴福泰中医医院，医疗配套比较方便。3教育配套比较齐全。附近有 黄村镇第一中心小学，新安里双语幼儿园，红太阳幼儿园，金玉双语幼儿园，红太阳幼儿园(清源路)，大兴七中 等学校。4.绿地的海珀系列属于绿地的高端系列产品，品质非常高，生活舒适度高。5环境比较好。项目北侧1.2公里是康庄公园，西侧1.2公里是黄村公园，是饭后遛弯好去处。劣势：交房时间是19年，及时入住需求的客户</p>
						</div>

						<div class="tab-pane fade text-center" id="house-detail" style="padding-top: 20px;">
							<p class="h4">房源详情</p>
							<ul class="list-group clearfix list-group-g">
								<li class="list-group-item pull-left list-mgrt-85">
									<p>milbs：</p>
								</li>
								<li class="list-group-item pull-left list-mgrt-135">
									<p>R2172314</p>
								</li>
								<li class="list-group-item pull-left list-mgrt-85">
									<p>卧室：</p>

								</li>
								<li class="list-group-item pull-left list-mgrt-135">
									<p>3</p>

								</li>
								<li class="list-group-item pull-left list-mgrt-85">
									<p>地下室：</p>

								</li>
								<li class="list-group-item pull-left">
									<p>0</p>

								</li>

							</ul>
							<!-- 第二个 -->
							<ul class="list-group clearfix list-group-g">
								<li class="list-group-item pull-left list-mgrt-85">
									<p>售价：</p>
								</li>
								<li class="list-group-item pull-left list-mgrt-135">
									<p>$2280,000</p>
								</li>
								<li class="list-group-item pull-left list-mgrt-85">
									<p>卫生间：</p>

								</li>
								<li class="list-group-item pull-left list-mgrt-135">
									<p>3全，1平</p>

								</li>
								<li class="list-group-item pull-left list-mgrt-85">
									<p>建筑年代：</p>

								</li>
								<li class="list-group-item pull-left">
									<p>2007</p>

								</li>

							</ul>
							<!-- 第三个 -->
							<ul class="list-group clearfix list-group-g">
								<li class="list-group-item pull-left list-mgrt-85">
									<p>室内面积：</p>
								</li>
								<li class="list-group-item pull-left list-mgrt-135">
									<p>2,109</p>
								</li>
								<li class="list-group-item pull-left list-mgrt-85">
									<p>地税：</p>

								</li>
								<li class="list-group-item pull-left list-mgrt-135">
									<p>5553.04</p>

								</li>
								<li class="list-group-item pull-left list-mgrt-85">
									<p>地产公司：</p>

								</li>
								<li class="list-group-item pull-left">
									<p>transformations</p>

								</li>

							</ul>
							<!-- 第四个 -->
							<ul class="list-group clearfix list-group-g">
								<li class="list-group-item pull-left list-mgrt-85">
									<p>土地面积：</p>
								</li>
								<li class="list-group-item pull-left list-mgrt-135">
									<p>0ss</p>
								</li>
								<li class="list-group-item pull-left list-mgrt-85">
									<p>房屋类型：</p>

								</li>
								<li class="list-group-item pull-left list-mgrt-135">
									<p>Apart</p>

								</li>
								<li class="list-group-item pull-left list-mgrt-85">
									<p>便利设施：</p>

								</li>
								<li class="list-group-item pull-left">
									<p>transformations</p>
								</li>

							</ul>
							<!-- 第五个 -->
							<ul class="list-group clearfix list-group-g">
								<li class="list-group-item pull-left list-mgrt-85">
									<p>房屋风格：</p>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</section>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-2">
						<section class="list-txt">
							<div id="myCarousel" class="carousel slide" data-interval="false">
								<!-- 轮播（Carousel）指标 -->
								<ol class="carousel-indicators" style="visibility: hidden;">
									<li class='carousel-li-bg active' data-target="#myCarousel" data-slide-to="0"></li>
									<li class='carousel-li-bg' data-target="#myCarousel" data-slide-to="1"></li>
									<li class='carousel-li-bg' data-target="#myCarousel" data-slide-to="2"></li>
								</ol>
								<!-- 轮播（Carousel）项目 -->
								<div class="carousel-inner carousel-group-g">
									<div class="item active item-center">
										<div class="data-box">
											<ul class="list-group">
												<li class="list-group-item list-boder-none text-center">
													<span class="glyphicon glyphicon-calendar data-mgtop" aria-hidden="true"></span>
													<div class="list-wrap">
														<p class="add-on">2016年12月17日 星期六</p>
														<p class="add-time">11:00-16:00</p>
													</div>
												</li>
												<li class="list-group-item  list-boder-none">
													<div class="list-wrap text-center">
														<div class="list-wrap">
															<p class="add-on">2016年12月17日 星期六</p>
															<p class="add-time">11:00-16:00</p>
														</div>
													</div>
												</li>
												<li class="list-group-item list-boder-none">
													<div class="list-wrap text-center">
														<div class="list-wrap">
															<p class="add-on">2016年12月17日 星期六</p>
															<p class="add-time">11:00-16:00</p>
														</div>
													</div>
												</li>
											</ul>

										</div>
									</div>
									<div class="item text-center item-center">
										<div class="data-box">
											<ul class="list-group ">
												<li class="list-group-item list-boder-none">
													<div class="list-wrap text-center">
														<span class="glyphicon glyphicon-calendar data-mgtop" aria-hidden="true"></span>
														<div class="list-wrap">
															<p class="add-on">2016年12月17日 星期六</p>
															<p class="add-time">11:00-16:00</p>
														</div>
													</div>
												</li>
												<li class="list-group-item  list-boder-none">
													<div class="list-wrap text-center">
														<div class="list-wrap">
															<p class="add-on">2016年12月17日 星期六</p>
															<p class="add-time">11:00-16:00</p>
														</div>
													</div>
												</li>
												<li class="list-group-item  list-boder-none">
													<div class="list-wrap text-center">
														<div class="list-wrap">
															<p class="add-on">2016年12月17日 星期六</p>
															<p class="add-time">11:00-16:00</p>
														</div>
													</div>
												</li>
											</ul>

										</div>
									</div>
									<div class="item text-center item-center">
										<div class="data-box">
											<ul class="list-group ">
												<li class="list-group-item list-boder-none">
													<div class="list-wrap text-center">
														<span class="glyphicon glyphicon-calendar data-mgtop" aria-hidden="true"></span>
														<div class="list-wrap">
															<p class="add-on">2016年12月17日 星期六</p>
															<p class="add-time">11:00-16:00</p>
														</div>
													</div>
												</li>
												<li class="list-group-item list-boder-none">
													<div class="list-wrap text-center">
														<div class="list-wrap">
															<p class="add-on">2016年12月17日 星期六</p>
															<p class="add-time">11:00-16:00</p>
														</div>
													</div>
												</li>
												<li class="list-group-item list-boder-none">
													<div class="list-wrap text-center">
														<div class="list-wrap">
															<p class="add-on">2016年12月17日 星期六</p>
															<p class="add-time">11:00-16:00</p>
														</div>
													</div>
												</li>
											</ul>

										</div>
									</div>
								</div>
								<!-- 轮播（Carousel）导航 -->
								<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
								<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
							</div>
						</section>
					</div>
					<div class="col-lg-10">

					</div>
				</div>
			</div>

			<!-- 内容第二部分开始 -->
			<section class="main-two main-two-mgtop">
				<div class="container-fluid with-bg-02">
					<div class="container main-three-mgtop">
						<div class="data-wrap main-wrap-pdtop">
							<h3 class="text-center data-text-pdtop">
						公众开放日
						<div class='main-wrap-width'></div>
						</h3>
							<div class="data-box">
								<ul class="list-group ">
									<li class="list-group-item data-mgtop list-boder-none">
										<div class="list-wrap text-center">
											<p>
												<span class="glyphicon glyphicon-calendar add-mgrt" aria-hidden="true"></span>
												<span class="add-on">2016，</span>
												<span class="add-on">12月17日，</span>
												<span class="add-on">星期六</span>
											</p>
											<span class="add-time">11:00-16:00</span>
										</div>
									</li>
									<li class="list-group-item data-mgtop list-boder-none">
										<div class="list-wrap text-center">
											<p>
												<span class="glyphicon glyphicon-calendar add-mgrt" aria-hidden="true"></span>
												<span class="add-on">2016，</span>
												<span class="add-on">12月17日，</span>
												<span class="add-on">星期六</span>
											</p>

											<span class="add-time">11:00-16:00</span>
										</div>
									</li>
									<li class="list-group-item data-mgtop list-boder-none">
										<div class="list-wrap text-center">
											<p>
												<span class="glyphicon glyphicon-calendar add-mgrt" aria-hidden="true"></span>
												<span class="add-on">2016，</span>
												<span class="add-on">12月17日，</span>
												<span class="add-on">星期六</span>
											</p>
											<span class="add-time">11:00-16:00</span>
										</div>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- 内容第三部分开始 -->
			<section class="main-pic">
				<div class="container">
					<div class="house-wrap main-wrap-pdtop">
						<h3 class="text-center data-text-pdtop">
							房源照片
							<div class='main-wrap-width'></div>
					</h3>
						<div class="list-group-pic">
							<ul class="list-group clearfix list-mg-0">
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
							</ul>
							<ul class="list-group clearfix list-mg-0">
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
							</ul>
							<ul class="list-group clearfix list-mg-0">
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
								<li class="list-group-item pull-left list-pic-width">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
										</div>
										<!-- /.icon-overlay -->
									</figure>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- 内容第四部分开始 -->
			<section class="house-type">
				<div class="container">
					<div class="house-wrap main-wrap-pdtop">
						<h3 class="text-center data-text-pdtop">房源户型图<div class='main-wrap-width'></div></h3>
					</div>
					<div class="list-group-pic list-group-house">
						<ul class="list-group clearfix list-mg-0">
							<li class="list-group-item pull-left list-house-width">
								<figure>
									<div class="icon-overlay icn-link">
										<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
									</div>
									<!-- /.icon-overlay -->
								</figure>
							</li>
							<li class="list-group-item pull-left list-house-width">
								<figure>
									<div class="icon-overlay icn-link">
										<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
									</div>
									<!-- /.icon-overlay -->
								</figure>
							</li>
							<li class="list-group-item pull-left list-house-width">
								<figure>
									<div class="icon-overlay icn-link">
										<a href="https://pyup.io/changelogs/djangorestframework/"><img src="https://pyup.io/static//images/packages/djangorestframework.png" alt="djangorestframework logo"></a>
									</div>
									<!-- /.icon-overlay -->
								</figure>
							</li>
						</ul>
					</div>

				</div>

			</section>

			<!-- 内容第五部分开始 -->
			<section class="video-type">
				<div class="container">
					<div class="house-wrap main-wrap-pdtop">
						<h3 class="text-center data-text-pdtop">
							视频看房
							<div class='main-wrap-width'></div>
					</h3>
						<div class="video-wrap">
							<div class="player-box player-video">
								<div class="player-video-wrapper">
									<video controls="controls" width="100%" height="100%">
										<source src="video/movie.ogg" type="video/ogg">
										<source src="video/movie.mp4" type="video/mp4">
									</video>
								</div>
								<!-- end player-video-wrapper-->
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- 内容第六部分开始 -->
			<section class="">
				<div class="container-fluid with-bg-2 outdoor-height">
					<div class="container">
						<!-- outdoor-mgtop -->
						<div class="house-wrap  main-wrap-pdtop">
							<h3 class="text-center data-text-pdtop look-house-title">
						实景看房
						<div class='main-wrap-width look-house-title-border'></div>
						</h3>
							<div class="outdoor-scene ">
								<ul class="list-group clearfix list-mg-0">
									<li class="list-group-item">
										<figure>
											<div class="icon-overlay icn-link">
												<a href="#">
													<img src="img/bg-02.jpg" alt="djangorestframework logo"></a>
											</div>
											<!-- /.icon-overlay -->
										</figure>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- 内容第七部分开始 -->
			<section class="map-type">
				<div class="container">
					<div class="house-wrap main-wrap-pdtop">
						<h3 class="text-center data-text-pdtop">
							地理位置
							<div class='main-wrap-width'></div>
					</h3>

					</div>
				</div>
				<div class="map-wrap">
					<img src="img/map-bg.jpg">
				</div>
			</section>
			<!-- 内容第八部分开始 -->
			<section class="md-contact">
				<div class="container-fluid with-bg-03 outdoor-height">
					<div class="container">
						<div class="house-wrap ">
							<h3 class="text-center data-text-pdtop look-house-title">
							联系经纪
							<div class='main-wrap-width look-house-title-border'></div>
							</h3>
							<div class="contact-wrap clearfix">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="pull-left">
										<div class="contact-page">
											<div class="contact-icon">
												<img src="img/man.jpg">
											</div>
											<h5 class="text-center">张帅</h5>
											<h6 class="text-center">海外经纪人</h6>

										</div>
										<div class="contact-address">
											<div class="contact-border">
												<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
												<p class="contact-width"><input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""></p>
											</div>
											<div class="contact-border">
												<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
												<p class="contact-width"><input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""></p>
											</div>
											<div class="contact-border">
												<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
												<p class="contact-width"><input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<form action="" method="POST" role="form">
										<div class="form-group">
											<input type="text" class="form-control" id="" placeholder="姓名">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="" placeholder="邮箱">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="" placeholder="手机号">
										</div>
										<div class="form-group">
											<textarea name="" id="input" class="form-control" rows="14" required="required"></textarea>
										</div>
										<button type="submit" class="btn btn-primary">提交</button>
									</form>

								</div>

							</div>
							<div class="contact-wrap clearfix">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="pull-left">
										<div class="contact-page">
											<div class="contact-icon">
												<img src="img/woman.jpg">
											</div>
										</div>

									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="contact-page">
										<h5 class="text-left">张帅</h5>
										<h6 class="text-left">海外经纪人</h6>
									</div>

									<div class="contact-address">
										<div class="contact-border">
											<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
											<p class="contact-width"><input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""></p>
										</div>
										<div class="contact-border">
											<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
											<p class="contact-width"><input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""></p>
										</div>

									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<h3 class="content-title text-center">扫微信二维码</h3>
									<div class="content-weixin text-center">
										<img src="img/weixin.jpg">

									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- 联系经纪人 -->
			<section class="xs-contact">
				<div class="container">
					<div class="house-wrap main-wrap-pdtop">
						<h3 class="text-center ">
								联系经纪
								<div class='main-wrap-width'></div>
						</h3>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<a href="#" class="thumbnail">
							<img data-src="#" alt="" src="img/man.jpg">
						</a>
						<div class="caption">
							<div class="contact-page">
								<h5 class="text-left">张帅</h5>
								<h6 class="text-left">海外经纪人</h6>
							</div>
							<div class="contact-address">
								<div class="contact-border">
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
									<p class="contact-width"><input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""></p>
								</div>
								<div class="contact-border">
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
									<p class="contact-width"><input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""></p>
								</div>
								<div class="contact-border">
									<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
									<p class="contact-width"><input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""></p>
								</div>
							</div>

						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<form action="" method="POST" role="form" class="main-wrap-pdtop">
							<div class="form-group">
								<input type="text" class="form-control" id="" placeholder="姓名">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="" placeholder="邮箱">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="" placeholder="手机号">
							</div>
							<div class="form-group">
								<textarea name="" id="input" class="form-control" rows="3" required="required"></textarea>
							</div>
							<button type="submit" class="btn btn-primary pull-right">提交</button>
						</form>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 main-wrap-pdtop">
						<a href="#" class="thumbnail">
							<img data-src="#" alt="" src="img/woman.jpg">
						</a>
						<div class="caption">
							<div class="contact-page">
								<h5 class="text-left">张帅</h5>
								<h6 class="text-left">海外经纪人</h6>
							</div>
							<div class="contact-address">
								<div class="contact-border">
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
									<p class="contact-width"><input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""></p>
								</div>
								<div class="contact-border">
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
									<p class="contact-width"><input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title=""></p>
								</div>
							</div>

						</div>
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 main-wrap-pdtop">
							<h3 class="content-title text-center">扫微信二维码</h3>
							<div class="content-weixin text-center">
								<img src="img/weixin.jpg">

							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- 内容第九部分开始 -->
			<section class="list-txt">
				<div id="myCarousel" class="carousel slide">
					<!-- 轮播（Carousel）指标 -->
					<ol class="carousel-indicators">
						<li class='carousel-li-bg active' data-target="#myCarousel" data-slide-to="0"></li>
						<li class='carousel-li-bg' data-target="#myCarousel" data-slide-to="1"></li>
						<li class='carousel-li-bg' data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner carousel-group-g">
						<div class="item active text-center item-center">
							<img src="img/list-group-pic.jpg" alt="First slide">
						</div>
						<div class="item text-center item-center">
							<img src="img/bg-01.jpg" alt="Second slide">
						</div>
						<div class="item text-center item-center">
							<img src="img/bg-01.jpg" alt="Third slide">
						</div>
					</div>
					<!-- 轮播（Carousel）导航 -->

				</div>
			</section>
			<footer class="footer-bg">

				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-6 col-lg-6">
						<p class="footer-text">
							Agency Plans are great if you want to create multiple newsletters, with a team of contributors crafting your editions.
						</p>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-6 col-lg-6">
						<div class="footer-logo text-right">
							<a href="/">
								<img src="img/logo-footer.jpg" alt="Company2">
							</a>
						</div>
					</div>
				</div>

			</footer>
		</div>

	</body>

</html>