<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Single Website propty</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/newtemplate.css">
	<link rel="stylesheet" type="text/css" href="css/media.css">
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/animate.min.css" />
</head>

<body id="r2177295">
	<div class="container-fluid body-container">
		<div class="top text-center">
			<p>ALFIE YANG &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-earphone col-sm"></span>&nbsp;&nbsp;&nbsp; 778-680-6831</p>
		</div>
		<!-- 1 头部 -->
		<div class="row nav-row">
			<div class="col-lg-10 col-sm-12 col-xs-12 nav-container">
				<nav class="navbar navbar-default-g">
					<div class="page-scroll">
						<button type="button" class="navbar-toggle navbar-bg-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		                         <span class="icon-bar"></span>
		                         <span class="icon-bar"></span>
		                         <span class="icon-bar"></span>
           </button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="navbar-collapse navbar-ex1-collapse collapse navbar-collapse-g nav-padding" aria-expanded="false" id="benefits">
						<div class="menu-container">
							<a class="navbar-brand navbar-fontsize navbar-logo navbar-color" href="#body">
									<img src="img/logo-md.png" />
								</a>
							<ul class="nav navbar-nav navbar-mglft menu-navbar">
								<li class="page-scroll page-scroll-mgrt">
									<a href="#benefits" class="navbar-color">首页</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#solutions" class="navbar-color">房屋描述</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#solutions" class="navbar-color">房屋详情</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#pricing" class="navbar-color">房源照片</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#openday" class="navbar-color">公众开房日</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#videos" class="navbar-color">视频看房</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#fvideos" class="navbar-color">实景看房</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#location" target="_blank" class="navbar-color">地理位置</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#contact" class="navbar-color">联系经纪</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#contact" class="navbar-color">PDF</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<div class="col-lg-2 share-container ">
				<div class="share">
					<div class="share-icon">
						<a href="#"><img src="img/Facebook.png"></img>
							</a>
						<a href="#"><img src="img/QQ.png"></img>
							</a>
						<a href="#"><img src="img/weibo.png"></img>
							</a>
						<a href="#"><img src="img/wechat.png"></img>
							</a>
						<a href="#"><img src="img/share.png"></img>
							</a>
					</div>
				</div>
			</div>
		</div>
		<!--2 房源图 -->




		<div id="descrption" class="container-fluid shadow-bg">
			<div class="with-bg-container">
				<div class="container-fluid with-bg-2">
					<div class="with-bg-3">
						<p class="street">301 508 WATERS EDGE CRESCENT</p>
						<p class="address">WESTVAN,加拿大</p>
						<p class="price">$2,280,000</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid border" id="solutions">
			<ul id="myTab" class="nav nav-pills nav-justified nav-padding-top">
				<li class="active">
					<a href="#desc" data-toggle="tab">房源描述</a>
				</li>
				<li>
					<a href="#detail" data-toggle="tab">房源详情</a>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<!--	<div>-->
				<div class="tab-pane fade in active text-center desc" id="desc">
					<p class="title">房源描述</p>
					<p class="text-left detail">为您呈现完美的4315平凡英尺，6房3.5卫豪华房源，它坐落在17580平方英尺的土地至上。首层提供一个完全开放的空间，包含宽敞的厨房、独立的中式厨房，空间宽敞的起居室以及一个封闭的露台。二层包含了5个卧室，其中两个含有独立卫浴。主卧提供了步入式衣橱和主卧卫浴。地下包含了游戏室，客卧，独立厨房，以及两个独立车库。 </p>
				</div>
				<div class="tab-pane fade text-center" id="detail">
					<p class="title">房源详情</p>
					<div class="row detail-list">
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>MLS#：</span>
								<p>R2172314</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>卧室：</span>
								<p>3</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>地下室：</span>
								<p>0</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>售价：</span>
								<p>$2,280,000</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>卫生间：</span>
								<p>3全1半</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>建筑年代：</span>
								<p>2007</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>建筑面积：</span>
								<p>2,109 sqft</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>地税：</span>
								<p>5553.04</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>地产公司：</span>
								<p>Angel Hasman & Assac.Rlty.l.td</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>土地面积：</span>
								<p>0 sqft</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>房屋类型：</span>
								<p>Aoart</p>
							</div>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
							<div>
								<span>便利设施：</span>
								<p>Elevator Execise Center.Snuna/Steam</p>
							</div>
						</div>
					</div>
				</div>
				<!--	</div>-->
			</div>
		</div>


		<!--公众开放日-->
		<div class="container-fluid" id="openday">
			<div class="row" style="padding:40px 0">
				<div class="col-lg-3 open">
					<div class="open-day">
						<p class="public">公众</p>开放日</div>
					<span class="glyphicon glyphicon-calendar add-mgrt" aria-hidden="true"></span>
					<div>
						<ul class="list-group">
							<li class="data-mgtop">
								<div class="list-wrap">
									<p class="add-on-1">2016年2月17日 星期六 </p>
									<p class="add-time-1 text-left">11:00-16:00</p>
								</div>
							</li>
							<li class="data-mgtop">
								<div class="list-wrap">
									<p class="add-on-2">2016年2月17日 星期六</p>
									<p class="add-time-3 text-left">11:00-16:00</p>
								</div>
							</li>
							<li class="data-mgtop">
								<div class="list-wrap">
									<p class="add-on-3">2016年2月17日 星期六</p>
									<p class="add-time-3 text-left">11:00-16:00</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9">
					<h6 class="public-title">01</h6>
					<div class="public-show">
						<img src="img/bg-01.jpg" />
					</div>
					<div class="public-show middles">
						<img src="img/page-main.jpg">
						<h5>WATRERS EDGE CRESCENT<span class="middles-search"></span></h5>
						<p>为你呈现完美的4315平方英尺,6房3.5卫豪华房源，它坐落在17580平方英尺的土地上</p>
					</div>
					<div class="public-show">
						<img src="img/bg-01.jpg">
					</div>
				</div>
			</div>
		</div>
		<!-- 5 房源照片 -->
		<div class="main-pic container-fluid" id="pricing">
			<div class="house-wrap">
				<p class="text-center">
					房源照片
				</p>
				<div class="list-group-pic">
					<div class="row clearfix">
						<div id="content-pic" class="defaults">
							<!-- item container -->
							<ul id="itemContainer">

							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class='holder'>
				<!--<ul class="pagination pagination-lg">
						<li>
							<a class="indetor" href="#0" style="background: transparent; color: #000; border: 0; font-size: 30px;">&lt;</a>
						</li>
						<li>
							<a class="indetor" href="#0" style="background: transparent; color: #000; border: 0;font-size: 25px;">·</a>
						</li>
						<li>
							<a class="indetor" href="#0" style="background: transparent; color: #000; border: 0;font-size: 25px;">·</a>
						</li>
						<li>
							<a class="indetor" href="#0" style="background: transparent; color: #000; border: 0;font-size: 25px;">·</a>
						</li>
						<li>
							<a class="indetor" href="#0" style="background: transparent; color: #000; border: 0;font-size: 30px;">&gt;</a>
						</li>
					</ul>-->
			</div>
		</div>
		<div class="container-fluid">
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel"></h4>
						</div>
						<div class="modal-body">
							<button class="modal-button-left" onclick="toLeftPic()">←</button>
							<button class="modal-button-right" onclick="toRightPic()">→</button>
							<span><img id='modal-img' src='' style="width:100%;height:70%;" /></span>
							<span id='modal-desc'></span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--7 视频看房-->
		<div class="video-type" id="videos" id="videos">
			<div class="main-video">
				<div class="container">
					<p class="text-center data-text-pdtop" style="margin-top: 30px;">
						视频看房
					</p>
					<div class="player-video-wrapper">
						<video controls="controls" width="100%" height="100%">
								<source src="video/test.mp4" type="video/mp4"></source>
								<source src="video/movie.ogg" type="video/ogg">
							</video>
					</div>

				</div>
			</div>

		</div>
		<!-- 8 实景看房-->
		<div class="real-view" id="fvideos">
			<div class="real-view-title">
				<p class="text-center data-text-pdtop look-house-title">
					实景看房
				</p>
			</div>
			<img src='./img/real.jpg' />
			<div class="iframe-view"><iframe src="demo.html"></iframe></div>
		</div>
		<!-- 9地理位置 -->
		<div class="map">
			<div class="map-type" id="location">
				<div class="map-type-title">
					<h3 class="data-text-pdtop" style="color: white;">
							地理位置
					</h3>
				</div>
			</div>
		</div>
		<!-- 10 联系经纪 -->
		<div class="md-contact" id="contact">
			<div class="container-fluid with-bg-03 outdoor-height">
				<div class="container">
					<p class="text-left data-text-pdtop look-house-title">
						联系经纪
					</p>

					<div class="">
						<div class="contact-wrap clearfix">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="pull-left">
									<div class="contact-page">
										<div class="contact-icon">
											<img src="img/man.jpg">
										</div>
										<h5 class="text-center">张帅</h5>
										<h6 class="text-center">海外经纪人</h6>

									</div>
									<div class="contact-address">
										<div class="contact-border">
											<span class="glyphicon glyphicon-earphone icon-color" aria-hidden="true"></span>
											<p class="contact-width text-right">604.561.5353</p>
										</div>
										<div class="contact-border">
											<span class="glyphicon glyphicon-envelope icon-color" aria-hidden="true"></span>
											<p class="contact-width text-right">Nick@nickneacsu.com</p>
										</div>
										<div class="contact-border">
											<span class="glyphicon glyphicon-globe icon-color" aria-hidden="true"></span>
											<p class="contact-width text-right">http://www.nickneacsu.com</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 form-wrap">
								<form action="" method="POST" role="form">
									<div class="form-group">
										<input type="text" class="form-control" name="name" id="contact-name" required="required" placeholder="姓名">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" name="email" id="contact-email" required="required" placeholder="邮箱">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" name="tel" id="contact-tel" required="required" placeholder="手机号">
									</div>
									<div class="form-group">
										<textarea name="" id="contact-input" class="form-control" rows="14" required="required"></textarea>
									</div>
									<button type="submit" class="btn btn-primary btn-" id="submit" onclick="commitdata()">提交</button>
								</form>

							</div>

						</div>
						<div class="contact-second clearfix">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="contact-icon">
									<img src="img/woman.jpg">
								</div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<div class="contact-page">
									<h5 class="text-left">张帅</h5>
									<h6 class="text-left">海外经纪人</h6>
								</div>

								<div class="contact-address">
									<div class="contact-border">
										<span class="glyphicon glyphicon-earphone icon-color" aria-hidden="true"></span>
										<p class="contact-width text-right">604.561.5353</p>
									</div>
									<div class="contact-border">
										<span class="glyphicon glyphicon-envelope icon-color" aria-hidden="true"></span>
										<p class="contact-width text-right">Nick@nickneacsu.com</p>
									</div>

								</div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<h4 class="content-title text-center">扫微信二维码</h4>
								<div class="content-weixin text-center">
									<img src="img/weixin.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 联系经纪人 -->
		<div class="xs-contact">
			<div class="main-wrap-pdtop">
				<h3 class="text-center ">
							联系经纪
							<div class='main-wrap-width'></div>
					</h3>
			</div>
			<ul id="contactUl" class="nav nav-pills nav-justified nav-padding-top">
				<li class="active">
					<a href="#oversea" data-toggle="tab">Contact1</a>
				</li>
				<li>
					<a href="#domestic" data-toggle="tab">Contact2</a>
				</li>
			</ul>

			<div class="container tab-content">

				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tab-pane fade in active" id="oversea">
					<div>
						<a href="#" class="thumbnail">
							<img data-src="#" alt="" src="img/man.jpg">
						</a>
						<div class="caption">
							<div class="contact-page">
								<h5 class="text-left">张帅</h5>
								<h6 class="text-left">海外经纪人</h6>
							</div>
							<div class="contact-address">
								<div class="contact-border">
									<span class="glyphicon glyphicon-earphone icon-color" aria-hidden="true"></span>
									<p class="contact-width text-right">604.561.5353
									</p>
								</div>
								<div class="contact-border">
									<span class="glyphicon glyphicon-envelope icon-color" aria-hidden="true"></span>
									<p class="contact-width text-right">Nick@nickneacsu.com
									</p>
								</div>
								<div class="contact-border">
									<span class="glyphicon glyphicon-globe icon-color" aria-hidden="true"></span>
									<p class="contact-width text-right">http://www.nickneacsu.com
									</p>
								</div>
							</div>

						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-wrap">
						<form action="" method="POST" role="form" class="main-wrap-pdtop">
							<div class="form-group">
								<input type="text" class="form-control" id="contact-name" placeholder="姓名" required="required">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="contact-email" placeholder="邮箱" required="required">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="contact-tel" placeholder="手机号" required="required">
							</div>
							<div class="form-group">
								<textarea name="" id="contact-input" class="form-control" required="required"></textarea>
							</div>
							<button type="submit" class="btn btn-primary btn-" id="submit" onclick="commitdata()">提交</button>
						</form>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 main-wrap-pdtop tab-pane fade " id="domestic">
					<a href="#" class="thumbnail">
							<img data-src="#" alt="" src="img/woman.jpg">
						</a>
					<div class="caption">
						<div class="contact-page">
							<h5 class="text-left">张帅</h5>
							<h6 class="text-left">海外经纪人</h6>
						</div>
						<div class="contact-address">
							<div class="contact-border">
								<span class="glyphicon glyphicon-earphone icon-color" aria-hidden="true"></span>
								<p class="contact-width text-right">604.561.5353
								</p>
							</div>
							<div class="contact-border">
								<span class="glyphicon glyphicon-envelope icon-color" aria-hidden="true"></span>
								<p class="contact-width text-right">Nick@nickneacsu.com
								</p>
							</div>
						</div>

					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 main-wrap-pdtop">
						<h3 class="content-title text-center">扫微信二维码</h3>
						<div class="content-weixin text-center">
							<img src="img/weixin.jpg">

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="introduce">
			<h4>温哥华房产咨询 投资置业 商业地产项目专家</h4>
			<p>Alfie Yang杨琼是温哥华顶尖Angel & Hasman地产公司的一名优异的地产经纪，具备了从事房地产服务行业的独特敏锐眼光，透彻的分析精神和充满激情的工作态度。她最关注的是有效的沟通和满足客户的需求。通过专业精湛的知识和丰富的多层的经验，无论在出售您的物业或帮助您购买自住及投资物业的过程中，提供真诚、巧妙和翔实的服务 凭借多年的坚实的生意背景，Alfie Yang杨琼在商务谈判、商业推广以及综合网络营销方面拥有丰富的经验。具备专业角度、锲而不舍和追求卓越细节服务的精神，Alfie在豪华房地产方面表现尤其突出，得到了客户的信赖和不断支持。房地产投资对于您好您的家人都是一次中重要的决定，她的目标就是让您做出明智的选择,为您的资产投资达到最带化。
			</p>
		</div>
		<div class="footer">
			<div class="footer-left">
				<img src="img/logo-md.png" alt="" />
				<div>
					<p class="h5">Site Powered By Webmainland</p>
					<p class="h5">Information deemded accurate but no guaranteed</p>
				</div>
			</div>
			<div class="footer-right">
				<img src="img/ubertor.png" />
			</div>
		</div>
	</div>

	<div style="display: none;">
		<li class="img-item col-md-4 col-xs-12 col-lg-4 col-sm-6"><img src="" alt="image"></li>
	</div>
</body>
<script src='js/jquery-2.1.4.min.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='js/main.js'></script>
<script type="text/javascript" src="js/location.js"></script>
<script type="text/javascript" src="http://maps.google.cn/maps/api/js?key=AIzaSyA1wj36Jr6W46WQ1JpQsoQZxHMQm5pEQDs"></script>
<script type="text/javascript" src="js/jPages.js"></script>

</html>
