<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Single Website propty</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/newtemplate.css">
		<link rel="stylesheet" type="text/css" href="css/media.css">
		<script src='js/jquery-2.1.4.min.js'></script>
		<script src='js/bootstrap.min.js'></script>
		<script src='js/main.js'></script>
		<style>
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}
		</style>
	</head>

	<body id="r2177295">
		<div class="container">
			<!-- 1 头部 -->
			<nav class="navbar navbar-default-g">
				<div class="navbar-center-g navbar-container">
					<div class="menu-container page-scroll">
						<button type="button" class="navbar-toggle navbar-bg-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">	<span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                    </button>
						<a class="navbar-brand navbar-fontsize navbar-logo navbar-color" href="#body">
							logo
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="navbar-collapse navbar-ex1-collapse collapse navbar-collapse-g" aria-expanded="false" id="benefits">
						<div class="menu-container">
							<ul class="nav navbar-nav navbar-mglft menu-navbar">
								<li class="page-scroll page-scroll-mgrt">
									<a href="#benefits" class="navbar-color">首页</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#solutions" class="navbar-color">房屋描述</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#solutions" class="navbar-color">房屋详情</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#pricing" class="navbar-color">房源照片</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#openday" class="navbar-color">公众开房日</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#videos" class="navbar-color">视频看房</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#fvideos" class="navbar-color">实景看房</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#location" target="_blank" class="navbar-color">地理位置</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#contact" class="navbar-color">联系经纪</a>
								</li>
								<li class="page-scroll page-scroll-mgrt">
									<a href="#contact" class="navbar-color">PDF</a>
								</li>

							</ul>
						</div>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>
			<!--2 房源图 -->
			<div id="descrption" class="container-fluid">
				<div class="with-bg-container">
					<div class="container-fluid with-bg-2">
						<div class="with-bg-3">
							<p class="street">301 508 WATERS EDGE CRESCENT</p>
							<p class="address">WESTVAN,加拿大</p>
							<p class="price">$2,280,000</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid border" id="solutions">
				<ul id="myTab" class="nav nav-pills nav-justified" style="padding-top: 35px;">
					<li class="active">
						<a href="#desc" data-toggle="tab"><small>房源描述</small></a>
					</li>
					<li>
						<a href="#detail" data-toggle="tab"><small>房源详情</small></a>
					</li>
				</ul>
				<div id="myTabContent" class="tab-content" style="margin-top: 50px;">
					<!--	<div>-->
					<div class="tab-pane fade in active text-center desc" id="desc">
						<p class="h4">房源描述</p>
						<p class="h5 text-left">项目位于，大兴南部发展核心圈改善精品住宅，属于黄村板块。项目优势 ：1交通便利，项目距离京开高速入 </p>
					</div>
					<div class="tab-pane fade text-center" id="detail" style="padding-top: 50px;">
						<p class="h4">房源详情</p>
						<div class="row detail-list">
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>MLS#：</span>
									<p>R2111456</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>卧室：</span>
									<p>3</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>地下室：</span>
									<p>N/A</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>售价：</span>
									<p>R2111456</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>卫生间：</span>
									<p>3全2半</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>建筑年代：</span>
									<p>1999-09-20</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>MLS#：</span>
									<p>12,800 SQT</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>地税：</span>
									<p>$3,000</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>地产公司：</span>
									<p>Realtoraccess.tld</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>土地面积：</span>
									<p>800 SQT</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>房屋类型：</span>
									<p>别墅</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div>
									<span>便利设施</span>
									<p>Center.Snuna/Steam</p>
								</div>
							</div>
						</div>
					</div>
					<!--	</div>-->
				</div>
			</div>
			<!--公众开放日-->
			<div class="container-fluid" id="openday">
				<div class="row" style="padding:30px 0">
					<div class="col-lg-3 open">
						<p class="open-day">公众开放日</p>
						<span class="glyphicon glyphicon-calendar add-mgrt" aria-hidden="true"></span>
						<div>
							<ul class="list-group">
								<li class="data-mgtop">
									<div class="list-wrap">
										<p class="add-on-1">2016年2月17日 星期六</p>
										<p class="add-time-1 text-left">11:00-16:00</p>
									</div>
								</li>
								<li class="data-mgtop">
									<div class="list-wrap">
										<p class="add-on-2">2016年2月17日 星期六</p>
										<p class="add-time-3 text-left">11:00-16:00</p>
									</div>
								</li>
								<li class="data-mgtop">
									<div class="list-wrap">
										<p class="add-on-3">2016年2月17日 星期六</p>
										<p class="add-time-3 text-left">11:00-16:00</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9">

					</div>
				</div>
			</div>
			<!-- 5 房源照片 -->
			<div class="container-fluid main-pic" id="pricing">
				<div class="house-wrap">
					<p class="text-center">
						房源照片
					</p>
					<div class="list-group-pic">
						<div class="row">
							<div class="col-md-4 col-xs-6 col-lg-4 col-sm-6 target">
								<img id='house-pic-0' src='img/bg-01.jpg' data-info='test pic' data-toggle="modal" data-target="#myModal" onclick="showPicInfo(this);" />
							</div>
							<div class="col-md-4 col-xs-6 col-lg-4 col-sm-6 target">
								<img id='house-pic-1' src='img/bg-01.jpg' data-info='test pic 2' data-toggle="modal" data-target="#myModal" onclick="showPicInfo(this);" /></div>
							<div class="col-md-4 col-xs-6 col-lg-4 col-sm-6 target">
								<img id='house-pic-2' src='img/bg-01.jpg' data-info='test pic 3' data-toggle="modal" data-target="#myModal" onclick="showPicInfo(this);" /></div>
							<div class="col-md-4 col-xs-6 col-lg-4 col-sm-6 target">
								<img id='house-pic-3' src='img/weixin.jpg' data-info='' data-toggle="modal" data-target="#myModal" onclick="showPicInfo(this);" /></div>
							<div class="col-md-4 col-xs-6 col-lg-4 col-sm-6 target">
								<img id='house-pic-4' src='img/bg-01.jpg' data-info='' data-toggle="modal" data-target="#myModal" onclick="showPicInfo(this);" />
							</div>
							<div class="col-md-4 col-xs-6 col-lg-4 col-sm-6 target">
								<img id='house-pic-5' src='img/bg-01.jpg' data-info='test pic is here' data-toggle="modal" data-target="#myModal" onclick="showPicInfo(this);" /></div>
							<div class="col-md-4 col-xs-6 col-lg-4 col-sm-6 target">
								<img id='house-pic-6' src='img/bg-01.jpg' data-info='' data-toggle="modal" data-target="#myModal" onclick="showPicInfo(this);" /></div>
							<div class="col-md-4 col-xs-6 col-lg-4 col-sm-6 target">
								<img id='house-pic-7' src='img/bg-01.jpg' data-info='' data-toggle="modal" data-target="#myModal" onclick="showPicInfo(this);" /></div>
							<div class="col-md-4 col-xs-6 col-lg-4 col-sm-6 target mb-none">
								<img id='house-pic-8' src='img/bg-01.jpg' data-info='' data-toggle="modal" data-target="#myModal" onclick="showPicInfo(this);" /></div>
						</div>
					</div>
				</div>
				<div class='type-pagination'>
					<ul>
						<li class="page-left" onclick="changePage('l');">
							<</li>
								<li class="page-mid" id='1' onclick='changePage(1);'>·</li>
								<li class="page-mid" id='2' onclick='changePage(2);'>·</li>
								<li class="page-mid" id='3' onclick='changePage(3);'>·</li>
								<li class="page-right" onclick="changePage('r');">></li>
					</ul>
				</div>
			</div>
			<div class="container-fluid">
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel"></h4>
							</div>
							<div class="modal-body">
								<button class="modal-button-left" onclick="toLeftPic()">←</button>
								<button class="modal-button-right" onclick="toRightPic()">→</button>
								<span><img id='modal-img' src='' style="width:100%;height:70%;" /></span>
								<span id='modal-desc'></span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--7 视频看房-->
			<div class="video-type" id="videos" id="videos">
				<div class="main-video">
					<div class="container">
						<p class="text-center data-text-pdtop" style="margin-top: 30px;">
							视频看房
						</p>
						<div class="player-video-wrapper">
							<video controls="controls" width="100%" height="100%">
								<source src="video/movie.ogg" type="video/ogg">
								<source src="video/movie.mp4" type="video/mp4">
							</video>
						</div>

					</div>
				</div>

			</div>
			<!-- 8 实景看房-->
			<div class="real-view" id="fvideos">
				<div class="real-view-title">
					<p class="text-center data-text-pdtop look-house-title">
						实景看房
					</p>
				</div>
				<img src='./img/real.jpg' />
				<div class="iframe-view"><iframe src={}></iframe></div>
			</div>
			<!-- 9地理位置 -->
			<div class="map-type" id="location">
				<div class="map-type-title">
					<h3 class="data-text-pdtop" style="color: white;">
							地理位置
					</h3>
				</div>
			</div>
			<!-- 10 联系经纪 -->
			<div class="md-contact" id="contact">
				<div class="container-fluid with-bg-03 outdoor-height">
					<div class="container">
						<h2 class="text-center data-text-pdtop look-house-title">
					联系经纪
					</h2>

						<div class="house-wrap ">

							<div class="contact-wrap clearfix">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="pull-left">
										<div class="contact-page">
											<div class="contact-icon">
												<img src="img/man.jpg">
											</div>
											<h5 class="text-center">张帅</h5>
											<h6 class="text-center">海外经纪人</h6>

										</div>
										<div class="contact-address">
											<div class="contact-border">
												<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
												<p class="contact-width"></p>
											</div>
											<div class="contact-border">
												<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
												<p class="contact-width"></p>
											</div>
											<div class="contact-border">
												<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
												<p class="contact-width"></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-wrap">
									<form action="" method="POST" role="form">
										<div class="form-group">
											<input type="text" class="form-control" name="name" id="" placeholder="姓名">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" name="email" id="" placeholder="邮箱">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" name="tel" id="" placeholder="手机号">
										</div>
										<div class="form-group">
											<textarea name="" id="input" class="form-control" rows="14" required="required"></textarea>
										</div>
										<button type="submit" class="btn btn-primary">提交</button>
									</form>

								</div>

							</div>
							<div class="contact-second clearfix">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="contact-icon">
										<img src="img/woman.jpg">
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="contact-page">
										<h5 class="text-left">张帅</h5>
										<h6 class="text-left">海外经纪人</h6>
									</div>

									<div class="contact-address">
										<div class="contact-border">
											<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
											<p class="contact-width"></p>
										</div>
										<div class="contact-border">
											<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
											<p class="contact-width"></p>
										</div>

									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<h4 class="content-title text-center">扫微信二维码</h4>
									<div class="content-weixin text-center">
										<img src="img/weixin.jpg">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 联系经纪人 -->
			<div class="xs-contact">
				<div class="house-wrap main-wrap-pdtop">
					<h3 class="text-center ">
							联系经纪
							<div class='main-wrap-width'></div>
					</h3>
				</div>
				<div class="container">

					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<a href="#" class="thumbnail">
							<img data-src="#" alt="" src="img/man.jpg">
						</a>
						<div class="caption">
							<div class="contact-page">
								<h5 class="text-left">张帅</h5>
								<h6 class="text-left">海外经纪人</h6>
							</div>
							<div class="contact-address">
								<div class="contact-border">
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
									<p class="contact-width">
									</p>
								</div>
								<div class="contact-border">
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
									<p class="contact-width">
									</p>
								</div>
								<div class="contact-border">
									<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
									<p class="contact-width">
									</p>
								</div>
							</div>

						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-wrap">
						<form action="" method="POST" role="form" class="main-wrap-pdtop">
							<div class="form-group">
								<input type="text" class="form-control" id="" placeholder="姓名">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="" placeholder="邮箱">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="" placeholder="手机号">
							</div>
							<div class="form-group">
								<textarea name="" id="input" class="form-control" rows="3" required="required"></textarea>
							</div>
							<button type="submit" class="btn btn-primary pull-right">提交</button>
						</form>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 main-wrap-pdtop">
						<a href="#" class="thumbnail">
							<img data-src="#" alt="" src="img/woman.jpg">
						</a>
						<div class="caption">
							<div class="contact-page">
								<h5 class="text-left">张帅</h5>
								<h6 class="text-left">海外经纪人</h6>
							</div>
							<div class="contact-address">
								<div class="contact-border">
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
									<p class="contact-width">
									</p>
								</div>
								<div class="contact-border">
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
									<p class="contact-width">
									</p>
								</div>
							</div>

						</div>
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 main-wrap-pdtop">
							<h3 class="content-title text-center">扫微信二维码</h3>
							<div class="content-weixin text-center">
								<img src="img/weixin.jpg">

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="introduce">
				<h3>温哥华房产咨询 投资置业 商业地产项目专家</h3>
				<p class="h4">的杀戮空间的离开时间发送东方斯卡拉附近的的杀戮空间发送到看来就是房东收房但是看了觉得是风空间看来就是犯困啦减肥</p>
			</div>
			<div class="footer">
				<div class="footer-left">
					<img src="img/bg-01.jpg" alt="" />
					<div>
						<p class="h5">海外瑞安居（北京）科技发展有限公司</p>
						<p class="h5">版权所有|京ICP备17003593号</p>
					</div>
				</div>
				<div class="footer-right">
					<img src="img/bg-02.jpg" />
				</div>
			</div>
		</div>
	</body>

</html>